body {
  font-family: 'Karla', sans-serif;
}

button {
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 10px;
  background-color: #4D5B9E;
  color: white;
  font-size: 16px;
  font-family: 'Karla', sans-serif;
  font-weight: 700;
}

/* Start screen */
.start-screen-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.start-screen--title {
  margin: 0;
}

.start-screen--description {
  margin: 0;
  font-size: 18px;
}

.start-screen--button {
  margin-top: 20px;
}

/* Category screen */

.categories-container {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.category-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.subcategory-container {
  display: flex;
  align-items: center;
  gap: 20px;
  border: 1px solid lightgrey;
  width: 250px;
  border-radius: 40px;
  cursor: pointer;
}

.subcategory-image {
  width: 64px;
  height: 64px;
  object-fit: cover;
  border-radius: 50%;
}

/* Quiz screen */

.quiz-screen-container {
  display: flex;
  flex-direction: column;
}

.questions-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question-container {
  width: 60%;
  border-bottom: 1px solid lightgrey;
}

.question--answers-container {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.question--answer {
  margin: 0;
  border: 1px solid black;
  border-radius: 8px;
  padding: 4px 10px;
}

.question--answer:hover {
  cursor: pointer;
}

.results {
  display: flex;
  align-items: center;
  align-self: center;
  gap: 20px;
  margin: 20px;
}